body {
  background-image: url(./Free_Hand_Made\ copy.jpg);
}

.imgcontainer {
    margin-bottom: 0;
    text-align: left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: space-around;
    
  }

  